# 编译输出文件
docs/.vitepress/dist

# 缓存文件
docs/.vitepress/cache

# 依赖库
node_modules/

# 日志
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# 环境变量
.env
.env.production

# 依赖锁定
Yarn.lock
package-lock.json